name: Build and Upload Executable

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev pkg-config

      - name: Build Executable (downloadManager)
        run: |
          cargo build --release --bin downloadManager
          echo "Application (downloadManager) built successfully."

      - name: Upload Executable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: downloadManager-linux-x86_64
          path: target/release/downloadManager
